@model IEnumerable<Models.Geracao>

@{
    ViewData["Title"] = "Index";
    var corBotao = "";
    var contGeracao = 0;
    var contInd = 1;
    var contNomeInd = 1;
}
<div class="row">
    <div class="col-sm-3">
        <a class="btn btn-success col-sm-10"><label>Melhores Individuos <br /> (Aptidão >= 90)</label></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-primary col-sm-10"><label>Individuos Bons <br /> (Aptidao < 90 e >= 80)</label></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-warning col-sm-10"><label>Individuos Medianos <br /> (Aptidao < 80 e >= 70)</label></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-danger col-sm-10"><label>Piores Individuos <br /> (Aptidao < 70)</label></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        Tempo de Processamento: @ViewBag.TempoProcessamento
    </div>
</div>
<br />
<hr />

@foreach (var geracao in Model)
{
    contGeracao++;
    var strinGeracao = "geracao" + contGeracao;
    var mediaGeracao = geracao.individuos.Sum(p => p.Aptidao);
    mediaGeracao /= geracao.individuos.Count;
    var nomeGeracao = "Geração " + contGeracao;
    contNomeInd = 1;

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#@strinGeracao" aria-expanded="false" aria-controls="collapseTwo">
                        @nomeGeracao
                    </button>
                    <font size="2" style="float: right">
                        Média Aptidão: @mediaGeracao
                    </font>
                </h5>
            </div>
            <div id="@strinGeracao" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        @foreach (var item in geracao.individuos)
                        {
                            if (item.Aptidao >= 90)
                            {
                                corBotao = "btn btn-success";
                            }
                            if (item.Aptidao >= 80 && item.Aptidao < 90)
                            {
                                corBotao = "btn btn-primary";
                            }
                            if (item.Aptidao >= 70 && item.Aptidao < 80)
                            {
                                corBotao = "btn btn-warning";
                            }
                            if (item.Aptidao < 70)
                            {
                                corBotao = "btn btn-danger";
                            }
                            var individuo = "individuo" + contInd++;
                            var nomeIndividuo = "Indivíduo " + contNomeInd ++;
                            <div class="col-sm-3">
                                <p>
                                    <a class="@corBotao col-sm-10" data-toggle="collapse" href="#@individuo" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        @nomeIndividuo.ToUpper()
                                        <br /><label> Aptidão: @item.Aptidao </label>
                                    </a>
                                </p>
                            </div>
                            <div class="collapse" id="@individuo">
                                <div class="card card-body">
                                    <table border="1">
                                        <!-- 1º ou 2º PERIODO -->
                                        <thead>
                                            <tr>
                                                <th colspan="6" style="text-align: center"> PERIODO </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center">SEGUNDA</th>
                                                <th style="text-align: center">TERÇA</th>
                                                <th style="text-align: center">QUARTA</th>
                                                <th style="text-align: center">QUINTA</th>
                                                <th style="text-align: center">SEXTA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center"><b>7h às 8:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Segunda.Disciplina_1Horario != null ? item.Periodo_1_2.Segunda.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Terca.Disciplina_1Horario != null ? item.Periodo_1_2.Terca.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Quarta.Disciplina_1Horario != null ? item.Periodo_1_2.Quarta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Quinta.Disciplina_1Horario != null ? item.Periodo_1_2.Quinta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Sexta.Disciplina_1Horario != null ? item.Periodo_1_2.Sexta.Disciplina_1Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>9h às 10:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Segunda.Disciplina_2Horario != null ? item.Periodo_1_2.Segunda.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Terca.Disciplina_2Horario != null ? item.Periodo_1_2.Terca.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Quarta.Disciplina_2Horario != null ? item.Periodo_1_2.Quarta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Quinta.Disciplina_2Horario != null ? item.Periodo_1_2.Quinta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Sexta.Disciplina_2Horario != null ? item.Periodo_1_2.Sexta.Disciplina_2Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>11h às 12:50</b></td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Segunda.Disciplina_3Horario != null ? item.Periodo_1_2.Segunda.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Terca.Disciplina_3Horario != null ? item.Periodo_1_2.Terca.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Quarta.Disciplina_3Horario != null ? item.Periodo_1_2.Quarta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Quinta.Disciplina_3Horario != null ? item.Periodo_1_2.Quinta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_1_2.Sexta.Disciplina_3Horario != null ? item.Periodo_1_2.Sexta.Disciplina_3Horario.Nome : "---")  </td>
                                            </tr>
                                        </tbody>

                                        <!-- 3º ou 4º PERIODO -->
                                        <thead>
                                            <tr>
                                                <th colspan="6" style="text-align: center"> PERIODO </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center">SEGUNDA</th>
                                                <th style="text-align: center">TERÇA</th>
                                                <th style="text-align: center">QUARTA</th>
                                                <th style="text-align: center">QUINTA</th>
                                                <th style="text-align: center">SEXTA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center"><b>7h às 8:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Segunda.Disciplina_1Horario != null ? item.Periodo_3_4.Segunda.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Terca.Disciplina_1Horario != null ? item.Periodo_3_4.Terca.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Quarta.Disciplina_1Horario != null ? item.Periodo_3_4.Quarta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Quinta.Disciplina_1Horario != null ? item.Periodo_3_4.Quinta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Sexta.Disciplina_1Horario != null ? item.Periodo_3_4.Sexta.Disciplina_1Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>9h às 10:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Segunda.Disciplina_2Horario != null ? item.Periodo_3_4.Segunda.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Terca.Disciplina_2Horario != null ? item.Periodo_3_4.Terca.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Quarta.Disciplina_2Horario != null ? item.Periodo_3_4.Quarta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Quinta.Disciplina_2Horario != null ? item.Periodo_3_4.Quinta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Sexta.Disciplina_2Horario != null ? item.Periodo_3_4.Sexta.Disciplina_2Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>11h às 12:50</b></td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Segunda.Disciplina_3Horario != null ? item.Periodo_3_4.Segunda.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Terca.Disciplina_3Horario != null ? item.Periodo_3_4.Terca.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Quarta.Disciplina_3Horario != null ? item.Periodo_3_4.Quarta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Quinta.Disciplina_3Horario != null ? item.Periodo_3_4.Quinta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_3_4.Sexta.Disciplina_3Horario != null ? item.Periodo_3_4.Sexta.Disciplina_3Horario.Nome : "---")  </td>
                                            </tr>
                                        </tbody>

                                        <!-- 5º ou 6º PERIODO -->
                                        <thead>
                                            <tr>
                                                <th colspan="6" style="text-align: center"> PERIODO </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center">SEGUNDA</th>
                                                <th style="text-align: center">TERÇA</th>
                                                <th style="text-align: center">QUARTA</th>
                                                <th style="text-align: center">QUINTA</th>
                                                <th style="text-align: center">SEXTA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center"><b>7h às 8:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Segunda.Disciplina_1Horario != null ? item.Periodo_5_6.Segunda.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Terca.Disciplina_1Horario != null ? item.Periodo_5_6.Terca.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Quarta.Disciplina_1Horario != null ? item.Periodo_5_6.Quarta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Quinta.Disciplina_1Horario != null ? item.Periodo_5_6.Quinta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Sexta.Disciplina_1Horario != null ? item.Periodo_5_6.Sexta.Disciplina_1Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>9h às 10:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Segunda.Disciplina_2Horario != null ? item.Periodo_5_6.Segunda.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Terca.Disciplina_2Horario != null ? item.Periodo_5_6.Terca.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Quarta.Disciplina_2Horario != null ? item.Periodo_5_6.Quarta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Quinta.Disciplina_2Horario != null ? item.Periodo_5_6.Quinta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Sexta.Disciplina_2Horario != null ? item.Periodo_5_6.Sexta.Disciplina_2Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>11h às 12:50</b></td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Segunda.Disciplina_3Horario != null ? item.Periodo_5_6.Segunda.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Terca.Disciplina_3Horario != null ? item.Periodo_5_6.Terca.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Quarta.Disciplina_3Horario != null ? item.Periodo_5_6.Quarta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Quinta.Disciplina_3Horario != null ? item.Periodo_5_6.Quinta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_5_6.Sexta.Disciplina_3Horario != null ? item.Periodo_5_6.Sexta.Disciplina_3Horario.Nome : "---")  </td>
                                            </tr>
                                        </tbody>

                                        <!-- 7º ou 8º PERIODO -->
                                        <thead>
                                            <tr>
                                                <th colspan="6" style="text-align: center"> PERIODO </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center">SEGUNDA</th>
                                                <th style="text-align: center">TERÇA</th>
                                                <th style="text-align: center">QUARTA</th>
                                                <th style="text-align: center">QUINTA</th>
                                                <th style="text-align: center">SEXTA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center"><b>7h às 8:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Segunda.Disciplina_1Horario != null ? item.Periodo_7_8.Segunda.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Terca.Disciplina_1Horario != null ? item.Periodo_7_8.Terca.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Quarta.Disciplina_1Horario != null ? item.Periodo_7_8.Quarta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Quinta.Disciplina_1Horario != null ? item.Periodo_7_8.Quinta.Disciplina_1Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Sexta.Disciplina_1Horario != null ? item.Periodo_7_8.Sexta.Disciplina_1Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>9h às 10:50h</b></td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Segunda.Disciplina_2Horario != null ? item.Periodo_7_8.Segunda.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Terca.Disciplina_2Horario != null ? item.Periodo_7_8.Terca.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Quarta.Disciplina_2Horario != null ? item.Periodo_7_8.Quarta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Quinta.Disciplina_2Horario != null ? item.Periodo_7_8.Quinta.Disciplina_2Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Sexta.Disciplina_2Horario != null ? item.Periodo_7_8.Sexta.Disciplina_2Horario.Nome : "---")  </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center"><b>11h às 12:50</b></td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Segunda.Disciplina_3Horario != null ? item.Periodo_7_8.Segunda.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Terca.Disciplina_3Horario != null ? item.Periodo_7_8.Terca.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Quarta.Disciplina_3Horario != null ? item.Periodo_7_8.Quarta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Quinta.Disciplina_3Horario != null ? item.Periodo_7_8.Quinta.Disciplina_3Horario.Nome : "---")  </td>
                                                <td style="text-align: center">@(item.Periodo_7_8.Sexta.Disciplina_3Horario != null ? item.Periodo_7_8.Sexta.Disciplina_3Horario.Nome : "---")  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}