@model IEnumerable<Models.Ano>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Cadastrar" class="btn btn-primary">Novo Ano / Período</a>
</p>
@if (Model == null)
{
    <p> Não há ano cadastrado ! </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Periodo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periodo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="AlgoritmoGenetico" asp-route-ano="@item.Periodo" class="btn btn-danger"> Selecionar para Algoritmo Genético</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
